<div class="container-fluid">
  <!-- Modal -->
  <div class="modal fade" id="create_service_modal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Service</h4>
        </div>
        <div class="modal-body">
          <%= form_for @service, html: {multipart: true},remote: true do |f| %>

            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.text_field :title,class: "form-control",placeholder: "Title" %>
            </div>

            <div class="form-group">
              <%= f.number_field :duration,class: "form-control",placeholder: "Duration in minutes (Example: 120)" %>
            </div>

            <div class="form-group">
              <%= f.number_field :price,class: "form-control",step: 'any',placeholder: "Price" %>
            </div>

            <div class="form-group">
              <%= f.text_area :desc,rows:5,cols:10,class: "form-control",placeholder: "Description" %>
            </div>

            <div class="form-group">
              <%= label_tag "Add Photos" %>
              <%= file_field_tag "image[]", type: :file, multiple: true %>
            </div>

            <div class="modal-footer">
              <%= f.submit "Create your service",class: "btn btn-default" %>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>
                 
 
      </div>
    </div>
  </div>
</div>
