$("#create_service_modal").modal('hide');
<% if @service.photos.any? %>
	$("#service_list").append('<span class="col-lg-4 col-md-4 col-sm-4">'+
	'<div class="service-image"><img src="<%= @service.photos.first.image.url(:thumbnail)%>"></div><div class="service-title"><%= @service.title %></div></span>');
<% else %>
	$("#service_list").append('<span class="col-lg-4 col-md-4 col-sm-4">'+
	'<div class="service-image"><img src="/images/thumbnail/missing.png"></div><div class="service-title"><%= @service.title %></div></span>');
<% end %>