<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
			<div class="login-box">
				<h3>Log in</h3>
				<%= form_for(:session, url: login_path) do |f| %>
					<div class="form-group">
						<div class="input-group">
							<%= f.email_field :email,class: "form-control",placeholder: "Your email" %>
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<%= f.password_field :password,class: "form-control",placeholder: "Password" %>
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						</div>
					</div>

					<div class="form-group">
						<%= f.submit "Log in",class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>