<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-1">
			<div class="login-box">
				<h3>Sign up</h3>
			<%= form_for @user do |f| %>
				<div>
					<%= render "shared/error_messages", object: @user %>
				</div>
				<div class="form-group">
				<%= f.text_field :name,class: "form-control",placeholder: "Desired username" %>
				</div>

				<div class="form-group">
				<%= f.email_field :email,class: "form-control",placeholder: "Your email" %>
				</div>

				<div class="form-group">
				<%= f.password_field :password,class: "form-control",placeholder: "Password" %>
				</div>

				<div class="form-group">
				<%= f.password_field :password_confirmation,class: "form-control",placeholder: "Re-enter password" %>
				</div>

				<div class="form-group">
				<%= f.radio_button :user_type,"patient" %>Patient
				<%= f.radio_button :user_type, "doctor" %>Doctor
				</div>

				<div class="form-group">
				<%= f.submit "Create your account",class: "btn btn-default" %>
				</div>

			<% end %>
			</div>
		</div>
	</div>
</div>