@import "bootstrap-sprockets";
@import "bootstrap";

/* Sign Up Form */
li{
	list-style-type: none;
}

/* End of Sign Up form*/

/* Log in form */
.login-box{
	border-radius: 10px;
	border: 2px solid #E7E7E7;
	padding: 20px; 
	margin: 20px;
}

.service-image{
	min-height: 120px;	
	float: center;
	img{
		min-height: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.service-title,service-appoint{
}

.service-panel{
	background-color: #DCDCDC;
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px;
}

.row {
	padding: 10px;
}

/* Appointment list*/
.appointment-list{
	background-color: #DCDCDC;
	padding: 10px;
}
.header-line{
    text-align: center;
}