<div id="pending_appointment_list" class="row">
	<div id="pending_appointment_<%= appointment.id %>" class="appointment-list col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<span>
			<%= "Service Name: #{appointment.service.title}" %><br />
			<%= "Patient Name: #{appointment.user.name}" %><br />
			<%= "Patient Email: #{appointment.user.email}" %><br />
			<%= "Date: #{get_date(appointment.start_time)}" %><br />
			<%= "Time: #{get_ist(appointment.start_time)}" %><br />
		</span>
			<%= link_to "Accept",appointment,method: :put,remote: true,class: "btn btn-success" %>
			<%= link_to "Reject",appointment,method: :delete, remote: :true,class: "btn btn-danger" %>
	</div>
</div>
