<div class="container-fluid">
  <!-- Modal -->
  <div class="modal fade" id="create_appointment_modal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Appointment</h4>
        </div>
        <div class="modal-body">
          <%= form_for current_user.appointments.new, remote: true do |f| %>
            <%= f.hidden_field :service_id %>
            <%= f.hidden_field :doctor_id %>
            
            <div class="form-group">
              <%= f.label :start_time, "Select Date & Time:" %>
              <%= f.datetime_select :start_time, default: Date.today ,class: "form-control",placeholder: "Enter start time", class: "form-control" %>
            </div>
            <p id="error-message"></p>
            <div class="modal-footer">
              <%= f.submit "Appoint Me",class: "btn btn-default" %>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
