<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to "AppointU", root_path ,class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
            <li><a href="<%= new_user_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>

          <!-- If user is logged in -->
          <% if current_user.user_type == "doctor" %>
            <li><a href="<%= appointments_path %>">Appointments<span id="appointment_badge" class="badge"><%= doctor_appointment_count %></span></a></li>
            <li><%= link_to "Create Service","#", id: "create_service_link" %></li>
          <% end %> 
            <li><%= link_to current_user.email, current_user %></li>
            <li><a href="<%= logout_path %>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>